<app-navbar></app-navbar>
<div class="container">
    <div class="list-users-events">
        <div>
            <h3 style="margin-top: 10px;" class="text-center">Lista de Usuarios que asistiran</h3>
        </div>
        <div>
            <button style="margin-top: 20px;" class="btn btn-secondary" (click)="goToByTicket()">Comprar Ticket</button>
        </div>
        <div *ngIf="users.length > 0" class="card" style="width: 18rem; margin-top: 20px;">
            <ol class="list-group list-group-numbered">
                <li class="list-group-item" *ngFor="let user of users">{{ user.person.name }} {{user.person.lastname}}
                </li>
            </ol>
        </div>

        <div *ngIf="!(users.length > 0)">
            <div style="margin: 35px;" class="alert alert-info text-center text-capitalize" role="alert">
                Hasta el momento no Asistira nadie
            </div>
        </div>
    </div>
</div>