<app-navbar></app-navbar>

<div class="wrapper">
    <div *ngIf="!loading" class="body">
        
        <h1>Editar Evento</h1>
        <form (ngSubmit)="updateEvent(); $event.preventDefault()" [formGroup]="UpateEventData">
          
            <div class="form-floating mb-3">
                <input type="name" class="form-control" formControlName="name" placeholder="Nombre">
                <label>Nombre</label>
                <!-- <span *ngIf="registerUser.get('password')?.hasError('required') && registerUser.get('password')?.touched" class="text-danger errorLabel">
                    La <strong>password</strong> es requerida
                </span>
                <span *ngIf="registerUser.get('password')?.hasError('minlength') && registerUser.get('password')?.touched" class="text-danger errorLabel">
                    El <strong>password</strong> debe tener 6 caracteres
                </span> -->
            </div>

            <div class="form-floating mb-3">
                <input type="date" class="form-control" formControlName="dayEvent" placeholder="Dia evento">
                <label>Dia del evento</label>
                <!-- <span *ngIf="registerUser.get('password')?.hasError('required') && registerUser.get('password')?.touched" class="text-danger errorLabel">
                    La <strong>password</strong> es requerida
                </span>
                <span *ngIf="registerUser.get('password')?.hasError('minlength') && registerUser.get('password')?.touched" class="text-danger errorLabel">
                    El <strong>password</strong> debe tener 6 caracteres
                </span> -->
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" formControlName="tickes" placeholder="tickes">
                <label>Tickes</label>
                <!-- <span *ngIf="registerUser.get('password')?.hasError('required') && registerUser.get('password')?.touched" class="text-danger errorLabel">
                    La <strong>password</strong> es requerida
                </span>
                <span *ngIf="registerUser.get('password')?.hasError('minlength') && registerUser.get('password')?.touched" class="text-danger errorLabel">
                    El <strong>password</strong> debe tener 6 caracteres
                </span> -->
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" formControlName="price" placeholder="Precio">
                <label>Precio</label>
                <!-- <span *ngIf="registerUser.get('password')?.hasError('required') && registerUser.get('password')?.touched" class="text-danger errorLabel">
                    La <strong>password</strong> es requerida
                </span>
                <span *ngIf="registerUser.get('password')?.hasError('minlength') && registerUser.get('password')?.touched" class="text-danger errorLabel">
                    El <strong>password</strong> debe tener 6 caracteres
                </span> -->
            </div>
            <div class="d-grid gap-2 mb-3">
                <button class="btn btn-primary btn-lg" [disabled]="UpateEventData.invalid" type="submit">Crear</button>
            </div>
        </form>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>
