<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/home']">Sistema de venta Tickets</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['/profile']" aria-current="page">Perfil</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-expanded="false">Eventos</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" [routerLink]="['/list-events']">Ver Eventos</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <button (click)="cerrarSesion()" class="nav-link active" paria-current="page">Cerrar Sesion</button>
                </li>
            </ul>
        </div>
    </div>
</nav>