.wrapper{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    /* background-color: rgb(202, 202, 219); */
}

.logo{
    height: 60px;
    margin-bottom: 10px;   
}

.body{
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}