<app-navbar></app-navbar>
<section>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-md-9 col-lg-7 col-xl-5">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-4">
                        <div class="d-flex text-black">
                            <div class="flex-shrink-0">
                                <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png"
                                    alt="Generic placeholder image" class="text-center img-fluid"
                                    style="width: 180px;  border-radius: 10px;">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h2 class="mb-4">{{user.person.name}} {{user.person.lastname}}</h2>
                                <p class="mb-2 pb-1" style="color: #2b2a2a;"><b>Identificacion:</b>
                                    {{user.person.identification}}</p>
                                <p class="mb-2 pb-1" style="color: #2b2a2a;"><b>Username:</b> {{user.username}}</p>
                                <p class="mb-2 pb-1" style="color: #2b2a2a;"><b>Email:</b> {{user.email}}</p>
                                <div class=" rounded-3 p-2 mb-2">
                                    <h5>Roles:</h5>
                                    <div *ngIf="roles.length > 0">
                                        <p *ngFor="let rol of roles" style="background-color: #efefef;"
                                            class=" rounded-3 p-4small text-center text-muted mb-1">{{rol.name}}</p>
                                    </div>
                                </div>
                                <div class="d-flex pt-1">
                                    <button type="button" class="btn btn-primary flex-grow-1">Actualizar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>