<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <img class="logo" src="../../../assets/img/login.png" alt="Login">
        <h1>Login</h1>
        <form (ngSubmit)="login(); $event.preventDefault()" [formGroup]="loginForm">
            <div class="form-floating mb-3">
                <input type="email" formControlName="email" class="form-control" placeholder="name@example.com">
                <label>Email</label>
                <span *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched" class="text-danger errorLabel">
                    El <strong>correo</strong> es requerido
                </span>
                <span *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched" class="text-danger errorLabel">
                    El <strong>correo</strong> es invalido
                </span>
            </div>
            <div class="form-floating mb-3">
                <input type="password" formControlName="password" class="form-control" placeholder="Password">
                <label>Password</label>
                <span *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched" class="text-danger errorLabel">
                    La <strong>password</strong> es requerida
                </span>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-lg" [disabled]="loginForm.invalid" >Ingresar</button>
            </div>
            <p class="mt-3">No tienes cuenta? <a routerLink="/sing-up">Registrar</a></p>
            <a class="mt-3" routerLink="/forgot-password">Recuperar Contraseña</a>
        </form>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>