<app-navbar></app-navbar>
<div class="container">
    <div class="card m-5 p-3">
        <div>
            <a *ngIf="isAdmin" class="btn btn-success" [routerLink]="['/tickes']">Crear Evento</a>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Dia Evento</th>
                        <th>Precio</th>
                        <th>tickes</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let event of allEvents">
                        <td>{{ event.id }}</td>
                        <td>{{ event.name }}</td>
                        <td>{{ event.dayEvent | date:'dd/MM/yyyy' }}</td>
                        <td>{{ event.price }}</td>
                        <td>{{ event.tickes }}</td>
                        <td>
                            <button *ngIf="isAdmin" class="btn btn-primary" (click)="edit(event.id)"
                                style="margin-left: 3px;">editar</button>
                            <button *ngIf="isAdmin" class="btn btn-danger" (click)="delete(event.id)"
                                style="margin-left: 3px;">eliminar</button>
                            <button class="btn btn-secondary" (click)="moreInfo(event.id)"
                                style="margin-left: 3px;">ver</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>